:root {
  --theme-1: #f0f7ff;
  --theme-2: #e3efff;
  --theme-3: #bad5ff;
  --theme-4: #91b8ff;
  --theme-5: #6998ff;
  --theme-6: #3e73fd;
  --theme-7: #2b56d6;
  --theme-8: #1a3bb0;
  --theme-9: #0e248a;
  --theme-10: #091763;
}